<div class="container" style="width:800px">
  <div class="row">
    <h1>About</h1>
  </div>
  <div class="row　text-center">
    <p>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上げりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国配送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。</p>
  </div>
  <div class="row">
    <%= image_tag "cake_ya_building.png" %>
  </div>
</div>