<div class="container" style="width:1500px">
  <div class="row">
    <h4 class="row bg-secondary text-black p-2" style="width:170px;">注文履歴一覧</h4>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th style="width200ppx">購入日時</th>
          <th style="width200ppx">購入者</th>
          <th style="width200ppx">注文個数</th>
          <th style="width200ppx">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--<= paginate  %>-->
</div>