<div class="container" style="width:800px">
  <h4 class="row bg-secondary text-black" style="width:120px;">注文履歴詳細</h4>
  <div class="col-8">
    <p>注文情報</p>
    <table border="2">
      <tr>
        <th style="width:80px">注文日</th>
        <td></td>
      </tr>
      <tr>
        <th style="width:80px">配送先</th>
        <td></td>
      </tr>
      <tr>
        <th style="width:80px">支払方法</th>
        <td></td>
      </tr>
      <tr>
        <th style="width:80px">ステータス</th>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="col-4">
    <p>請求情報</p>
    <table border="2">
      <tr>
        <th style="width:100px">商品合計</th>
        <td style="width:80px"></td>
      </tr>
      <tr>
        <th style="width:100px">配送料</th>
        <td style="width:80px"></td>
      </tr>
      <tr>
        <th style="width:100px">ご請求額</th>
        <td style="width:80px"></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <table　border="4">
      <p>注文</p>
      <thead>
        <tr>
          <th style="width:200px">商品</th>
          <th style="width:90px">単価（税込）</th>
          <th style="width:80px">個数</th>
          <th style="width:80px">小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>